.custom-dropdown {
  position: relative;
  width: 100%;
}

.dropdown-selected {
  height: 50px;
  padding: 0 16px;
  border-radius: 14px;
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s ease;
}

.dropdown-selected:hover {
  border-color: #38bdf8;
}

.dropdown-left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 14px;
}

.arrow {
  transition: 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 58px;
  width: 100%;
  
  /* Match Glass Theme */
  background: linear-gradient(135deg,  #1e293b, #312e81); /* deep slate */
  backdrop-filter: blur(20px);
  
  border: 1px solid rgba(255,255,255,0.14);
  
  border-radius: 18px;
  padding: 6px;
  
  box-shadow: 0 12px 40px rgba(0,0,0,0.45);
  
  animation: fadeIn 0.25s ease;
  z-index: 100;
}


.dropdown-item {
  padding: 12px 14px;
  font-size: 14px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: 0.25s ease;
}


.dropdown-item:hover {
  background: rgba(56,189,248,0.15);
}
.dropdown-item.active {
  background: rgba(56,189,248,0.25);
}


/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
